:root {
  --forest_green: #5CDB95;
  --cream: #EDF5E1;
  --imperial_blue: #05386B;
  --test_black: #000000;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
  margin: auto auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.header {
  height: 50px;
  background: var(--forest_green);
  color: var(--imperial_blue);
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;

}

.sticky + main {
  padding-top: 70px;
}

.page-header-title {
  font-size: 2em;
}

@media only screen and (max-width: 875px) {
  .page-header-title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .page-header-title {
    font-size: 1.25em;
  }
}

.page-header-spacer-2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.page-header-linkedin {
  padding: 0px 5px;
}

.linkedin_profile {
  display: flex;
  align-items: center;
  align-content: center;
}

#linkedin_logo {
  height: 30px;
  width: auto;
}

.page-header-contact {
  padding: 0px 5px;

}

.contact {
  font: roboto;
  height: 30px;
  width: auto;
  border-style: solid;
  border-radius: 5px;
  border: 10px black;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  text-align: center;
}

.contact:hover {
  background: white;
  color: var(--imperial_blue);
}

h1 {

}

footer {
    height: 50px;
    background: var(--forest_green);
    color: var(--imperial_blue);
    padding: 0px 10px;
}

.footer-content {
  background: ;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-content-text {
  height: 50px;
  background: ;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start ;
}

.footer-text {
  font-size: 1em;
  background: ;
  margin: 0;
  padding: 0;
}

.back-to-top {
  height: 50px;
  background: ;
  align-content: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#back-to-top-btn {
  font: roboto;
  height: 30px;
  width: auto;
  border-style: solid;
  border-radius: 5px;
  border: 10px black;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  text-align: center;
}

#back-to-top-btn:hover {
  background: white;
  color: var(--imperial_blue);
}

main {
  padding: 0px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-content-div {
  padding: 0px 20px;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .main-content-div {
    padding: 0px 20px;
    width: 90%;
  }

}

h3 {

}

.page-sub-header {
  font-size: 1.25em;
  background: ;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.page-sub-sections {
  margin-top: 0px;
  padding-top: 5px;
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

#about-me-text {
  text-align: justify;

}

ul {
  background: ;
}

li {
  list-style: circle;
  font-size: 1em;
  line-height: 1.25em;
}

.list {

}

.website-badge-container {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-sizing: content-box;
}

.website-badge {
  margin-right: 25px;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 1);
}

.website-badge-logo {
  width: 98%;
  margin-top: 20px;
}

#website-badge-link-colour {
  color: white;
  font-size: 0.8em;
  margin-top: 15px;
}

#codecademy {
  background-color: white;
}

#codecademy a {
  color: black;
}

#codewars {
  background: #303133;

}

#codewars-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#codewars img{
  background: #303133;
  width: 50%;
}
