[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "_includes/learn-ansible"]
	path = _includes/learn-ansible
	url = https://github.com/jackmcc08/learn-ansible
